header div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}