@media(max-width: 820px){
    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    #container{
        width:100%;
        margin: 0 auto;
    }
    /*TOPO*/
    #container .topo{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: auto;
        align-items: center;
    }
    .topo .logo{
        width:80%;
        margin: 25px auto;
    }

    /*CONTEUDO*/
    main{
        width: 90%;
        margin: 0 auto;
    }
    h2{
        width: 100%;
        margin: 0 auto;
        background-color: #ffb200;
        text-align: center;
        color: black;
        font-size: 25px;
        font-weight: bold;
        padding: 15px 0;
        box-sizing: border-box;
        text-transform: uppercase;
    }
    .filmes{
        background: #ffffff;
        width: 60%;
        height: auto;
        padding: 0 10px;
        text-align: center;
        padding-bottom: 25px;
        margin: 15px auto;
    }
    .caixa img {
        width: 80%;
        height: auto;
    }
    /*RODAPÉ*/
    .rodape{
        flex-direction: column;
        height: auto;
        padding: 25px 0;
        align-items: center;
        justify-content: space-between;

        }

        .rodape img, .rodape p, .rodape .icones-rodape{
            margin-bottom: 15px;
            width: 40%;
            text-align: center;

        }

        .rodape .icones-rodape{
            order: -1;
        }
        .rodape .icones-rodape img{
            width: 40px;
            margin: 0;
            padding-right: 7px;


        }
        .rodape p{
            font-size: 25px;
        }

}
@media(max-width: 768px){
    .rodape-filmes{
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 15px;
        
       
    }
    .films-rodape{
        width: 48%;
        box-sizing: border-box;
        text-align: center;

    }
    .rodape-filmes h3{
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 15px;
    }
   

}